/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import "bootstrap-icons/font/bootstrap-icons.css";

.flatpickr-disabled,
.flatpickr-disabled:hover {
  color: #ef4444 !important;
  text-decoration: line-through !important;
  background: rgba(239,68,68,0.05) !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}